<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <!--是否需要加载调试窗口-->
    <add key="hasWinDebug" value="1" />
    
    <add key="IsShowRx4Debug" value="1" />
    
    <!-- 本拼接服务器 对接Tcp的 分布式TxRx服务器-->
    <add key="serverIp" value="169.254.0.253" />
    <add key="serverPort" value="6000" />
    
    <!-- 本拼接服务器 加入组播 分布式TxRx服务器-->
    <add key="MultiIp_SynchroTxServer" value="234.234.1.3" />
    <add key="MultiPort_SynchroTxServer" value="32008" />
    
    <!--本拼接服务器同步 发送拼接同步信息的组播-->
    <add key="MultiIp_SynchroMosaicServer" value="234.234.0.3" />
    <add key="MultiPort_SynchroMosaicServer" value="32108" />
    
    <!--本拼接服务器同步 Rx盒子的组播信息-->
    <add key="MultiIp_SynchroRx" value="235.235.100.100" />
    <add key="MultiPort_SynchroRx" value="4000" />
  
    <!--本拼接服务器侦听客户端连接的Tcp端口-->
    <add key="Port_Tcp_MosaicServer" value="5000" />

    <!--拼接服务器间信息同步 -->
    <add key="MultiIp_SynchroServerState" value="234.234.0.3" />
    <add key="MultiPort_SynchroServerState" value="32109" />

    <!--拼接服务端与Rx端通信方式版本 -->
    <add key="Version_MosaicServerToRx" value="2" />
    
    <!--V2.0 Rx端接收开窗组播Ip/Port-->
    <add key="SendRx_MultiIp" value="234.234.0.1" />
    <add key="SendRx_MultiPort" value="32110" />
    
    <!--窗口磁贴-->
    <add key="WinRectRate" value="0"/>
    
  <!--Tx上线延时查询resolution时间-->
    <add key="TxOnlineToResolution" value="3"/>

    <!--镜像屏窗口磁贴，附加若窗口小于最小尺寸，放大-->
    <add key="MirrorWinRectRate" value="0.1"/>

  </appSettings>
</configuration>